<!--The content below is only a placeholder and can be replaced.-->
<html>
<head>
	<title>Google Icons</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div style="text-align:center">
  <!-- 'background-image': 'url(src/assets/images/' + this.background + '.jpg)' -->
  <h1>
    Ruban's To Do Application!!!
  </h1>
</div>
    <nav>
        <!-- <a routerLink="/toDo">Start Application!</a> -->
        <button routerLink="/toDo">
   			<i class="material-icons" style="font-size:25px;">&#xe8ac;</i>
  		</button>
    </nav>
<router-outlet></router-outlet>
</body>
</html>